body {
  font-family: Verdana, Arial, sans-serif;
  font-variant: ;
  text-align: center;
  font-size: 12vw;
  margin: 0px;

  /*background-color: #9cadac;*/
}
.clock {
  /*background-color: #ffffff;*/
  /*border-radius: 5vw;*/
}
.btn {
  /*border-radius: 5vw;*/
}
.btnIn {
  background-color: #41d871;
}
.btnOut {
  background-color: #f75133;
}
.pressedIn {
  background-color: #b6edc7;
}
.pressedOut {
  background-color: #ffbeb2;
}
