body {
  font-family: Verdana, Arial, sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: 12vw;
}
.btn {
  border-radius: 5%;
}
.btnIn {
  background-color: #41d871;
}
.btnOut {
  background-color: #f75133;
}
.pressedIn {
  background-color: #b6edc7;
}
.pressedOut {
  background-color: #ffbeb2;
}
