body {
  font-family: Verdana, Arial, sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: 10vw;
}
.button {
  background-color: #41d871;
}
.pressed {
  background-color: #b6edc7;
}
