/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
      font: Verdana, Arial, Sans-serif;
      color: #e2991b;
       width: ;
       height: 100%;
       margin: 0px;
    }

    header {
        background-color: #23025b;
        padding: 5px;
        margin-left: 5%;
        border-bottom-left-radius: 10px;
        font-size: ;
        display: block;
        width: 100%;
    }
    @media (max-width: 500px){
        header {
          margin-left: 0%;
          border-bottom-left-radius: 0px;
        }
    }
    nav {
        background-color: #5b23ba;
        margin-left: 7%;
        margin-right: 0%;
        float: left;
        width: 100%;
        border-bottom-left-radius: 10px
    }
    @media(max-width: 500px) {
      nav {
        margin: 0%;
        border-bottom-left-radius: 0px;
      }
    }
    nav ul {
        padding: 2px;
        float: left;
        border-bottom: 0px;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 10px;
        padding: 3px 3px 3px 3px;
        vertical-align: middle;
    }
    a {
        color: black;
    }
    section {
        width: ;
        margin-left: 5%;
        margin-right: 0%;
        display: inline-block;
        float: right;
    }
    @media(min-width: 550px) {
        section {
          margin-left: 10px;
          margin right: 10px;
        }
    }
    section img {
        float: right;
        width: 40%;
    }
    @media(min-width: 500px) {
        section img {
          min-width: 300px;
          border-bottom-left-radius: 0px;
        }
    }
    @media(max-width: 500px) {
        section img {
          width: 100%;
          min-width: none;
          float: none;
        }
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
